<h1>Minigoals for this user</h1>

<%= @minigoals.each do |minigoal| %>
	<%= link_to minigoal.name, minigoal %>
	<%= link_to "Edit minigoal", edit_minigoal_path(minigoal) %> <!-- Should edit the minigoal.status instead-->
	<br>
<% end %>

<!-- Comes out a lot of crap information that I do not want-->