<h1> This is where you create a new minigoal </h1>
<!--Form goes here, containing a name and a status id -->

<%= form_for @minigoal do |f| %>
	<div class="text_field">
		<%= f.label :name %>
		<%= text_field :name %>
	</div>
	
	
	<div class="submit">
		<%= f.submit "Create minigoal" %>
	</div>
<% end %>
<!-- Might be a good idea to put in status in a select box-->
<!-- Get an error here based on the wrong number of arguments-->

