<h1>Information about the user</h1>

<p>First Name of the user is: <%= @userfname %></p>
<p>Last Name of the user is: <%= @userlname %></p>
<p>Email of the user is: <%= @email %></p>
<!-- Can't reach the table where I get the projects from specific user-->

<%= link_to "Create new user", users_path %>

<!-- Get a link to user.projects-->

