<h1> Specific minigoal page </h1>
<p>Name: <%= @minigoal.name %></p>
<p>Belongs to project: <%= @minigoal.project_id %></p>

<p><%= link_to "Delete this minigoal", @minigoal, confirm: "You're about to delete this minigoal", method: :delete%></p>